  <div class="container">
    <h1>Proyectos</h1>
  </div>

<div class="container">
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="proyectos">Proyectos</li>
    </ol>
  </nav>
  <div class="card-columns">
    <div class="card" *ngFor="let proyecto of proyectos; let i = index">
      <img class="card-img-top rounded" [src]=proyecto.imagenGrupal [alt]="proyecto.nombre">
      <div class="card-body">
        <h4 class="card-title">{{ proyecto.nombre }}</h4>
        <p class="card-text text-justify">{{ proyecto.descripcion | p200 }}</p>
        <button (click)="verProyecto(i)"
          type="button" class="btn btn-dark btn-block">Ver más ...
        </button>
      </div>
      <div class="card-footer">
        <small class="text-muted">Categoria: {{ proyecto.categoria }}</small>
      </div>
    </div>
  </div>
</div>
