<div class="container">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header" style="padding-top:15px;">ProteinLab</h1>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
              <li class="breadcrumb-item active" aria-current="about">Quienes Somos</li>
            </ol>
          </nav>
      </div>
  </div>
  <br>
  <section id="about">
      <div class="row">
          <div class="col-md-6">
              <img class="img-fluid" src="assets/img/equipo/equipo1.JPG" alt="proteinlabGrupal">
          </div>
          <div class="col-md-6">
              <p class="text-justify"><strong>ProteinLab UTEM</strong>, es un Centro de Innovación y Transferencia Tecnológica de la Universidad Tecnológica Metropolitana es dependiente de la Dirección de Investigación y Desarrollo Académico. La función principal de ProteinLab UTEM es la investigación interdisciplinaria en tecnologías digitales para la innovación de productos, servicios y aplicaciones, por lo que su carácter interdisciplinario lo hace desarrollar una vinculación interfacultad.</p>
              <p class="text-justify">El trabajo que desarrolla ProteinLab UTEM se realiza a través de la aplicación de dinámicas de trabajo colaborativo entre investigadores de diversas disciplinas tanto al interior de la UTEM como con otras instituciones nacionales e internacionales. Además, las actividades de I+D desarrolladas se vinculan con la docencia mediante actividades experimentales donde participan estudiantes de diversos niveles.</p>
              <p class="text-justify">El equipo ProteinLab UTEM cuenta con laboratorios de fabricación digital y desarrollo electrónico y un equipo interdisciplinario compuesto por diseñadores, Ingenieros electrónicos e informáticos que abordan tópicos como Internet de las Cosas, Smart City, Telecomunicaciones, Salud, Educación, Agricultura, Textil entre otras, siempre vinculando el diseño  y tecnología como medio de desarrollo.</p>
              <p class="text-justify">Para ProteinLab UTEM es fundamental la vinculación con el medio, debido a la importancia del trabajo colaborativo entre Academia, Industria y Sociedad. Es por eso, que todos los proyectos son pensados con una implementación concreta, en donde realmente entreguen una solución e impacten positivamente, sean eficientes y optimicen costos, recursos y procesos.</p>
              <br>
          </div>
      </div>
      <br>
      <div class="row justify-content-around">
        <div class="col-md-12 text-center">
          <hr>
          <h3>¿ Qué hacemos ?</h3>
          <p class="text-justify">Nuestro enfoque es el trabajo interdisciplinario y colaborativo entre investigadores, industria, estado y sociedad civil para mejorar la calidad de vida de las personas y aportar al desarrollo de mayor competitividad en la industria.</p>
          <p class="text-justify">Dentro de los proyectos que se realizan en ProteinLab UTEM, se clasifican en: </p>
        </div>
        <div class="col-md-3 borde">
          <h3>Proyectos de Investigación Aplicada</h3>
           <p>Son los que se realizan por una demanda interna con el objetivo de validar nuevas tecnologías para luego implementarlas en otros proyectos.</p>
           <br>
        </div>
        <div class="col-md-3 borde">
          <h3>Proyectos de Transferencia y Vinculación con el Medio</h3>
          <p>Son los que se realizan por un encargo o demanda externa. En base adjudicación de financiamientos, contratación de servicios o por medio de alianzas.</p>
          <br>
        </div>
        <div class="col-md-3 borde">
          <h3>Proyectos incubados</h3>
          <p>Son los que se realizan mediante proyectos de Títulos de alumnos. Son proyectos que ingresan a ProteinLab con el objetivo de ser apoyados, desde los conocimientos interdisciplinarios, infraestructura y equipamiento, para luego ser potenciados mediante la postulación a instrumentos de financiamiento.</p>
          <br>
        </div>
        <div class="col-12">
          <br>
          <a class="btn btn-secondary btn-block" [routerLink]="['/proyectos']" role="button">Conoce nuestros proyectos</a>
          <br>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <hr>
          <h3 class="text-center">¿ Cuáles son nuestras áreas de acción ?</h3>
          <img src="assets/img/accionProteinlab.png" width="100%" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
          <h2 class="text-center">¿ Donde se pueden aplicar nuestras áreas de acción ?</h2>
          <img src="assets/img/Esquema_lineasaccion.svg" style="max-height:700px;" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <hr>
          <h3>¿ Cual es nuestra infrastructura ?</h3>
          <p class="text-justify">ProteinLab cuenta con 2 laboratorios para el desarrollo de experimentación  (Diseño, Ingeniería Electrónica e Informática) y un Centro de Fabricación Digital con cuatro impresoras 3D, CNC láser, CNC router, plotter de corte, etc.</p>
          <br>
        </div>
        <div class="col-md-4">
          <img src="assets/img/Recurso1.svg" width="100%" alt="">
        </div>
        <div class="col-md-4">
          <img src="assets/img/Recurso1.svg" width="100%" alt="">
        </div>
        <div class="col-md-4">
          <img src="assets/img/Recurso1.svg" width="100%" alt="">
        </div>
      </div>
  </section>
  <br>
  <section id="team">
    <div class="row">
      <div class="col-lg-12">
          <h2 class="page-header">Nuestro Equipo</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let persona of equipo">
        <div class="card border-secondary mb-3">
          <img class="card-img-top rounded" [src]="persona.imagen" [alt]="persona.imagen">
          <div class="card-body">
            <h5 class="card-title text-center">{{ persona.nombre }}</h5>
            <p class="card-text text-center" style="font-size: 12px;">{{ persona.descripcion }}</p>
          </div>
          <div class="text-center" *ngIf="persona.linkedin != null">
            <a [href]="persona.linkedin" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i></a>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ persona.area }}</small>
          </div>
        </div>
        <br>
      </div>
    </div>
  </section>
</div>
