<div class="container">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">ProteinLab</h1>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="home">Home</a></li>
              <li class="breadcrumb-item active" aria-current="About">Quienes Somos</li>
            </ol>
          </nav>
      </div>
  </div>
  <br>
  <section id="about">
      <div class="row">
          <div class="col-md-6">
              <img class="img-fluid" src="http://placehold.it/750x450" alt="proteinlabGrupal">
          </div>
          <div class="col-md-6">
              <p class="text-justify">El programa de Prospectiva e Innovación Tecnológica – ProteinLab UTEM – es un grupo interdisciplinario de investigación aplicada, innovación y diseño en el ámbito de las tecnologías digitales.</p>
              <p class="text-justify">ProteinLab UTEM desarrolla sus actividades a través de dinámicas de trabajo colaborativo entre investigadores profesionales y estudiantes de diversas disciplinas tanto en el interior de la UTEM como con otras instituciones nacionales e internacionales, El equipo esta compuesto por Diseñadores, Ingenieros Electrónicos e Informáticos.</p>
              <p class="text-justify"> ProteinLab depende de la Dirección de Investigación y Desarrollo Académico UTEM, por lo que sus acciones son transversales a todas las facultades de la institución</p><br>
              <h3>¿Qué hacemos?</h3>
              <p class="text-justify">ProteinLab UTEM desarrolla actividades de: Investigación Aplicada, Actividades Experimentales, Transferencia Tecnológica e Innovación.</p><br>
              <p class="text-justify">Nuestro enfoque es el trabajo interdisciplinario y colaborativo entre investigadores, industria, estado, y sociedad civil para mejorar la calidad de vida de las personas y aportar en el desarrollo de mayor competitividad en la industria.</p>
          </div>
      </div>
  </section>
  <br>
  <section id="team" style="">
    <div class="row">
      <div class="col-lg-12">
          <h2 class="page-header">Nuestro Equipo</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let persona of equipo">
        <div class="card border-secondary mb-3">
          <img class="card-img-top rounded" [src]="persona.imagen" [alt]="persona.imagen">
          <div class="card-body">
            <h5 class="card-title text-center">{{ persona.nombre }}</h5>
            <p class="card-text">{{ persona.descripcion }}</p>
          </div>
          <div class="text-center">
            <a [href]="persona.linkedin"><i class="fa fa-2x fa-linkedin-square"></i></a>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ persona.area }}</small>
          </div>
        </div>
        <br>
      </div>
    </div>
  </section>

  <section id="partners">
    <div class="row">
      <div class="col-lg-12">
          <h2 class="page-header">Nuestros Clientes</h2>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6" *ngFor="let partner of proyectos">
          <img class="img-fluid customer-img" [src]="partner.partnerIMG" alt="">
          <p class="text-center text-secondary"><small>{{partner.partner}}</small></p>
      </div>
    </div>
  </section>




</div>
