<div class="container">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header" style="padding-top:15px;">ProteinLab</h1>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
              <li class="breadcrumb-item active" aria-current="about">Quienes Somos</li>
            </ol>
          </nav>
      </div>
  </div>
  <br>
  <section id="about">
      <div class="row">
          <div class="col-md-6">
              <img class="img-fluid" src="assets/img/equipo/equipo1.JPG" alt="proteinlabGrupal">
          </div>
          <div class="col-md-6">
              <p class="text-justify">El Programa de Prospectiva e Innovación Tecnológica - ProteinLab UTEM - es un Grupo interdisciplinario de investigación aplicada, Innovación y diseño en el ámbito de las Tecnologías Digitales.</p>
              <p class="text-justify">ProteinLab UTEM desarrolla sus actividades a través de dinámicas de trabajo colaborativo entre investigadores profesionales y estudiantes de diversas disciplinas tanto al interior de la UTEM como con otras instituciones nacionales e internacionales. Actualmente el equipo está compuesto por Diseñadores, Ingenieros Electrónicos e Informáticos.</p>
              <p class="text-justify">ProteinLab depende de la Dirección de Investigación y Desarrollo Académico UTEM, por lo que sus acciones son transversales a todas las Facultades de la institución.</p><br>
          </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12 text-center">
          <hr>
          <h3>¿Qué hacemos?</h3>
          <p class="text-justify">ProteinLab UTEM desarrolla actividades de: Investigación Aplicada, Actividades Experimentales, Transferencia Tecnológica e Innovación.</p><br>
          <p class="text-justify">Nuestro enfoque es el trabajo interdisciplinario y colaborativo entre investigadores, industria, estado y sociedad civil para mejorar la calidad de vida de las personas y aportar al desarrollo de mayor competitividad en la industria.</p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <hr>
          <h3 class="text-center">¿Cuáles son nuestras áreas de acción?</h3>
          <img src="assets/img/accionProteinlab.png" width="100%" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <hr>
          <h3 class="text-center">¿Donde se pueden aplicar nuestras áreas de acción?</h3>
          <ul>
            <li>Movilidad Urbana y Rural</li>
            <li>Manufactura Avanzada</li>
            <li>Salud</li>
            <li>Gobierno</li>
            <li>Agricultura</li>
            <li>Seguridad, Trazabilidad y Eficiencia Energética</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <hr>
          <h3>¿Cual es nuestra infrastructura?</h3>
          <p class="text-justify">ProteinLab cuenta con 2 laboratorios para el desarrollo de experimentación  (Diseño, Ingeniería Electrónica e Informática) y un Centro de Fabricación Digital con cuatro impresoras 3D, CNC láser, CNC router, plotter de corte, etc.</p>
          <!-- <br>
          <h3>Imagenes Espacios Proteinlab</h3> -->
        </div>
      </div>
  </section>
  <br>
  <section id="team">
    <div class="row">
      <div class="col-lg-12">
          <h2 class="page-header">Nuestro Equipo</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let persona of equipo">
        <div class="card border-secondary mb-3">
          <img class="card-img-top rounded" [src]="persona.imagen" [alt]="persona.imagen">
          <div class="card-body">
            <h5 class="card-title text-center">{{ persona.nombre }}</h5>
            <p class="card-text text-center" style="font-size: 12px;">{{ persona.descripcion }}</p>
          </div>
          <div class="text-center" *ngIf="persona.linkedin != null">
            <a [href]="persona.linkedin" target="_blank"><i class="fa fa-2x fa-linkedin-square"></i></a>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{ persona.area }}</small>
          </div>
        </div>
        <br>
      </div>
    </div>
  </section>
</div>
