<div class="row justify-content-center text-center pt-5">
    <div class="col-8">
        <h1 class="border-bottom"><strong>ProteinLab</strong> Presente en AltaRoma 2019, Roma, Italia.</h1>
    </div>
</div>

<div class="row justify-content-center py-5 text-center">
    <div class="col-10">
        <h2><strong>AltaRoma</strong></h2>
    </div>
    <div class="col-10 col-md-5 my-2">
        <iframe class="w-100 h-100" src="https://www.youtube.com/embed/OXuBxEoEK0g" frameborder="0" allow="accelerometer; autoplay; loop; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="col-8 col-md-3 my-2">
        <p>Is a hub of fashion shows and the presentations of couture houses, small ateliers, artisanal and tailoring establishments. It focuses on the promotion of ‘savoir faire’ intended as a means of fostering artisanal expertise and all forms of Made
            in Italian and international excellence. The Altaroma calendar features the names of numerous historic couturiers and new international haute couture houses who choose Rome to present their collections. Likewise, it aims to give exposure to
            the singular skills and strategies that  characterize local industries renowned for their savoir faire in those sectors, arts and trades that have made Italy and Rome famous throughout the world.
        </p>
    </div>
</div>

<div class="row justify-content-center py-5 text-center">
    <div class="col-10">
        <h2><strong>Collection M2M</strong></h2>
    </div>
    <div class="col-8 col-md-3 my-2">
        <p>Is a hub of fashion shows and the presentations of couture houses, small ateliers, artisanal and tailoring establishments. It focuses on the promotion of ‘savoir faire’ intended as a means of fostering artisanal expertise and all forms of Made
            in Italian and international excellence. The Altaroma calendar features the names of numerous historic couturiers and new international haute couture houses who choose Rome to present their collections. Likewise, it aims to give exposure to
            the singular skills and strategies that characterize local industries renowned for their savoir faire in those sectors, arts and trades that have made Italy and Rome famous throughout the world.
        </p>
        <a [routerLink]="['/proyecto', 'vinculacion', '5']"><button class="btn btn-outline-dark">Conoce más sobre proyecto</button></a>
    </div>

    <div class="col-10 col-md-5 my-2">
        <iframe class="w-100 h-100" src="https://www.youtube.com/embed/qh85z9Ye5Tk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>


<div class="row justify-content-center my-5">
    <div class="card col-2 text-center">
        <img class="card-img-top rounded-circle" src="http://www.proteinlab.cl/assets/img/partners/claudioParedes.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Claudio Paredes</h5>
            <p class="card-text">Diseñador Industrial</p>
        </div>
    </div>
    <div class="card col-2 text-center">
        <img class="card-img-top rounded-circle" src="https://media.licdn.com/dms/image/C4E03AQGRlw9L1i99eg/profile-displayphoto-shrink_800_800/0?e=1553126400&v=beta&t=MHH3NKXVSiZzAF-T11NhCTLRP56jw6x5GF-8aIK_bF4" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Diego Vilches</h5>
            <p class="card-text">Diseñador Industrial</p>
        </div>
    </div>
    <div class="card col-2 text-center">
        <img class="card-img-top rounded-circle" src="https://media.licdn.com/dms/image/C4D03AQFrYtYLLDZWZg/profile-displayphoto-shrink_800_800/0?e=1553126400&v=beta&t=xMG3dCuC-qF7_QOqeRYKbsuVr-K0uJH9sQbDXLOsDsU" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Josue Alarcon</h5>
            <p class="card-text">Diseñador Industrial</p>
        </div>
    </div>
</div>