<div class="row justify-content-center text-center pt-5">
    <div class="col-8">
        <h1 class="border-bottom"><strong>ProteinLab</strong> presents M2M collection at <strong>AltaRoma 2019</strong></h1>
    </div>
    <div class="col-8">
        <p>From the 24th to the 27th of January 2019, in the city of Rome, Italy, the event will be held "Week of digital fashion" in the context of the Week of High Fashion in Rome. In this Context, the Design of Costumes and Digital Technologies project
            called "M2M o Imitation of nature ", carried out jointly by ProteinLab UTEM and the designer of Claudio Paredes costume has been selected to present its 12 looks that include 3D printing, laser cutting and electronics.</p>
        <p>This project was selected in the contest "Digital Made", of the foundation of the same name in conjunction with AltaRoma <a href="http://www.altaroma.it" target="_blank">(www.altaroma.it)</a>, both are Italian organizations focused on design and
            technology.
        </p>
    </div>
</div>

<div class="row justify-content-center pb-5 p-2 my-1 text-center">
    <div class="col-10 ">
        <h2><strong>AltaRoma</strong></h2>
    </div>
    <div class="col-8">
        <img class="w-100" src="assets/img/ALTAROMA/altaroma.png" alt="">
    </div>
</div>

<div class="row justify-content-center pb-5 p-2 my-1 text-center">
    <div class="col-10">
        <h2><strong>Collection M2M</strong></h2>
    </div>
    <div class="col-8 col-md-3 my-4">
        <p>"M2M or Imitation of Nature", is a collaborative project in Design, Fashion and Technology that was developed for nine months between ProteinLab UTEM and the designer of Claudio Paredes wardrobe. The collection integrates the use of manufacturing
            tools digital such as 3D printing, laser cutting, and embedded electronics that provides ProteinLab in harmony with the traditional techniques of clothing and costume design contributed by Claudio Paredes.</p>
        <a [routerLink]="['/proyecto', 'vinculacion', '5']"><button class="btn btn-outline-dark">Know more about the project</button></a>
    </div>

    <div class="col-10 col-md-5 my-2">
        <iframe class="w-100 h-100" src="https://www.youtube.com/embed/qh85z9Ye5Tk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="col-10">
        <img class="w-100" src="assets/img/ALTAROMA/collection.png" alt="">
    </div>
</div>

<div class="row justify-content-center align-items-center py-2 mb-3 text-center secNaranjo">
    <div class="col-10 col-md-3">
        <h2 class="display-1"><strong>Follow us on Instagram.</strong></h2>
        <p><small>Click on the image and see our profile.</small></p>
    </div>
    <div class="col-10 col-md-6 d-md-none d-block">
        <iframe src="//lightwidget.com/widgets/4bd47089684c532b800c4e17e43017e7.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;height:200px;"></iframe>
    </div>
    <div class="col-10 col-md-6 d-none d-md-block">
        <iframe src="//lightwidget.com/widgets/4bd47089684c532b800c4e17e43017e7.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;height:450px;"></iframe>
    </div>
</div>

<div class="row justify-content-center my-5">
    <div class="col-4 col-md-3">
        <img class="w-100" src="assets/img/ALTAROMA/claudio.jpg" alt="">
    </div>
    <div class="col-4 col-md-3">
        <img class="w-100" src="assets/img/ALTAROMA/dvr.jpg" alt="">
    </div>
    <div class="col-4 col-md-3">
        <img class="w-100" src="assets/img/ALTAROMA/josue.jpg" alt="">
    </div>

</div>

<script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>