<div class="row justify-content-center text-center pt-5">
    <div class="col-8">
        <h1 class="border-bottom"><strong>ProteinLab</strong> presents M2M collection at <strong>AltaRoma 2019</strong></h1>
    </div>
    <div class="col-8">
        <p>Desde el 24 al 27 de Enero de 2019, en la ciudad de Roma, Italia se desarrollará el evento “Digital Fashion Week” en el contexto de la Semana de la Alta Moda de Roma. En este contexto, el proyecto de Diseño de Vestuario y Tecnologías Digitales
            denominado “M2M or Imitation of Nature”, realizado en conjunto entre ProteinLab UTEM y el diseñador de vestuario Claudio Paredes ha sido seleccionado para presentar sus 12 looks que incluyen impresión 3D, corte Láser y Electrónica. </p>
        <p>Este proyecto fue seleccionado en el concurso “Digital Made”, de la fundación del mismo nombre en conjunto con AltaRoma <a href="http://www.altaroma.it">(www.altaroma.it)</a>, las dos son organizaciones italianas enfocadas al diseño y la tecnología.</p>
    </div>
</div>

<div class="row justify-content-center pb-5 p-2 my-1 text-center">
    <div class="col-10 ">
        <h2><strong>AltaRoma</strong></h2>
    </div>
    <div class="col-8">
        <img class="w-100" src="assets/img/ALTAROMA/altaroma.png" alt="">
    </div>
</div>

<div class="row justify-content-center pb-5 p-2 my-1 text-center">
    <div class="col-10">
        <h2><strong>Collection M2M</strong></h2>
    </div>
    <div class="col-8 col-md-3 my-4">
        <p>M2M or Imitation of Nature, es un proyecto colaborativo en Diseño, Moda y Tecnología que se desarrolló durante nueve meses entre ProteinLab UTEM y el diseñador de vestuario Claudio Paredes. La colección integra el uso de las herramientas de
            fabricación digital tales como impresión 3D, corte láser, y electrónica embebida que aporta ProteinLab en armonía con las técnicas tradicionales de confección y diseño de vestuario aportadas por Claudio Paredes.</p>
        <a [routerLink]="['/proyecto', 'vinculacion', '5']"><button class="btn btn-outline-dark">Conoce más sobre este proyecto.</button></a>
    </div>

    <div class="col-10 col-md-5 my-2">
        <iframe class="w-100 h-100" src="https://www.youtube.com/embed/qh85z9Ye5Tk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="col-10">
        <img class="w-100 mb-3" src="assets/img/ALTAROMA/collection.png" alt="">
        <p>La colección M2M se presentó por primera vez en un desfile desarrollado en el Hall Central de la sede UTEM de Dieciocho 390, Santiago en el mes de Mayo del 2017. Además, se exhibió en Agosto del mismo año en el evento de clausura de la Feria Internacional
            de FabLabs FAB13, desarrollado en el Centro Cultural Gabriela Mistral GAM.</p>
        <p>El objetivo de este proyecto es explorar las potencialidades de la unión de moda y tecnología a través del uso de técnicas de diseño y desarrollo de alta costura tradicional, en combinación de las tecnologías de fabricación digital y electrónica
            interactiva. Tecnologías como el corte láser, permiten la aplicación de diseños, texturas y patrones dinámicos y complejos directamente sobre la tela, así como la impresión 3D facilita la creación de elementos biomiméticos los cuales se integran
            a las prendas.</p>
        <p>Para el lograr el éxito de este proyecto ha sido clave el trabajo interdisciplinario y colaborativo con los Departamentos de Diseño, Electricidad e Informática y el apoyo de la Vicerrectoría de Transferencia Tecnología y Extensión.</p>
    </div>
</div>

<div class="row justify-content-center align-items-center py-2 mb-3 text-center secNaranjo">
    <div class="col-10 col-md-3">
        <h2 class="display-1"><strong>Siguenos en Instagram.</strong></h2>
        <p><small>Haz click sobre las imagenes y ve nuestro perfil.</small></p>
    </div>
    <div class="col-10 col-md-6 d-md-none d-block">
        <iframe src="//lightwidget.com/widgets/4bd47089684c532b800c4e17e43017e7.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;height:200px;"></iframe>
    </div>
    <div class="col-10 col-md-6 d-none d-md-block">
        <iframe src="//lightwidget.com/widgets/4bd47089684c532b800c4e17e43017e7.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;height:450px;"></iframe>
    </div>
</div>

<div class="row justify-content-center my-5 text-center">
    <div class="col-10">
        <h2><strong>Equipo desarrollador de la colección M2M</strong></h2>
    </div>
    <div class="col-4 col-md-3">
        <img class="w-100" src="assets/img/ALTAROMA/claudio.jpg" alt="">
    </div>
    <div class="col-4 col-md-3">
        <img class="w-100" src="assets/img/ALTAROMA/dvr.jpg" alt="">
    </div>
    <div class="col-4 col-md-3">
        <img class="w-100" src="assets/img/ALTAROMA/josue.jpg" alt="">
    </div>

</div>

<script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>