#equipo img{
  width: 100%;
}

.secBlanco{
  background-color: white;
  color: rgb(119, 119, 119);
  text-align: center;
}

.secNaranjo{
  background-color: rgb(224, 103, 75);
  color: white;
  text-align: center;
  padding-bottom: 40px;
}

.separaSection{
  padding-top: 60px;
  padding-bottom: 60px;
}

.destacar{
  padding-top: 20px;
  background-color: white;
  color: rgb(224, 103, 75);
}

.destacar:hover{
  background-color: rgb(224, 103, 75);
  color: white
}
