h1{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

h2{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

h3{
  font-family: 'Raleway', sans-serif;
}

p{
  font-family: 'Roboto', sans-serif;
}

#equipo img{
  width: 100%;
}

.secBlanco{
  background-color: white;
  color: rgb(119, 119, 119);
  text-align: center;
}

.secNaranjo{
  background-color: rgb(224, 103, 75);
  color: white;
  text-align: center;
}

.separaSection{
  padding-top: 60px;
  padding-bottom: 60px;
}
