<header id="carrousel" class="carousel slide">
  <div id="carouselHeader" class="carousel slide" data-ride="carousel" data-interval=3000>
    <ol class="carousel-indicators">
      <li data-target="#carouselHeader" data-slide-to="0" class="active"></li>
      <li data-target="#carouselHeader" data-slide-to="1"></li>
      <li data-target="#carouselHeader" data-slide-to="2"></li>
      <li data-target="#carouselHeader" data-slide-to="3"></li>
      <li data-target="#carouselHeader" data-slide-to="4"></li>
      <li data-target="#carouselHeader" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block h-100 w-100" src="assets/img/slide/slide_01.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block h-100 w-100" src="assets/img/slide/slide_02.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/img/slide/slide_03.jpg" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/img/slide/slide_06.jpg" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/img/slide/slide_05.jpg" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="assets/img/slide/slide_04.jpg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselHeader" role="button" data-slide="prev">
      <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
      <span class="d-none d-md-block"><i class="fa fa-5x fa-chevron-left" aria-hidden="true" style="color: rgb(224, 103, 75);"></i></span>
      <span class="d-block d-md-none"><i class="fa fa-2x fa-chevron-left" aria-hidden="true" style="color: rgb(224, 103, 75);"></i></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselHeader" role="button" data-slide="next">
      <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
      <span class="d-none d-md-block"><i class="fa fa-5x fa-chevron-right" aria-hidden="true" style="color: rgb(224, 103, 75);"></i></span>
      <span class="d-block d-md-none"><i class="fa fa-2x fa-chevron-right" aria-hidden="true" style="color: rgb(224, 103, 75);"></i></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<section id="descripcion">
  <div class="container secBlanco">
    <div class="row separaSection">
      <div class="col-12">
        <h2> PROTEINLAB UTEM </h2>
        <p>ProteinLab UTEM, es un Centro de Innovación y Transferencia Tecnológica de la Universidad Tecnológica Metropolitana es dependiente de la Dirección de Investigación y Desarrollo Académico. La función principal de ProteinLab UTEM es la investigación interdisciplinaria en tecnologías digitales para la innovación de productos, servicios y aplicaciones, por lo que su carácter interdisciplinario lo hace desarrollar una vinculación interfacultad.</p>
        <p>Nuestro enfoque es el trabajo interdisciplinario y colaborativo entre investigadores, industria, estado, y sociedad civil para mejorar la calidad de vida de las personas y aportar en el desarrollo de mayor competitividad en la industria.</p>
      </div>
    </div>
  </div>
</section>

<section id="enfoque">
  <div class="secNaranjo separaSection">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>NUESTRO ENFOQUE</h2>
          <p>Nuestro enfoque es el trabajo interdisciplinario y colaborativo entre investigadores, industria, estado y sociedad civil para mejorar la calidad de vida de las personas y aportar al desarrollo de mayor competitividad en la industria.</p>
          <br>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 destacar">
          <h3>PROYECTOS DE INVESTIGACIÓN APLICADA</h3>
          <p>Son los que se realizan por una demanda interna con el objetivo de validar nuevas tecnologías para luego implementarlas en otros proyectos.</p>
        </div>
        <div class="col-12 col-md-4 destacar">
          <h3>PROYECTOS DE TRANSFERENCIA Y VINCULACIÓN CON EL MEDIO</h3>
          <p>Son los que se realizan por un encargo o demanda externa. En base adjudicación de financiamientos, contratación de servicios o por medio de alianzas.</p>
        </div>
        <div class="col-12 col-md-4 destacar">
          <h3>PROYECTOS INCUBADOS</h3>
          <p>Proyectos de Títulos de alumnos que ingresan a ProteinLab con el objetivo de ser apoyados, desde los conocimientos interdisciplinarios, infraestructura y equipamiento.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="areas">
  <div class="container secBlanco">
    <div class="row separaSection">
      <div class="col-12">
        <h2>ÁREAS DE ACCIÓN</h2>
        <img src="assets/img/accionProteinlab.jpg" width="100%" alt="areasAccionProteinlab">
      </div>
    </div>
  </div>
</section>

<section id="enfoque">
  <div class="secNaranjo">
    <div class="row separaSection">
      <div class="col-12">
        <h2>ÁMBITOS DE DESARROLLO</h2>
        <img src="assets/img/Esquema_lineasaccion.jpg" width="100%" alt="ambitoAccionProteinlab">
      </div>
    </div>
  </div>
</section>

<section id="equipo">
  <div class="container secBlanco">
    <div class="row separaSection">
      <div class="col-12">
        <h2>EQUIPO</h2>
      </div>
    </div>
    <div class="row team">
      <div class="col-6 col-md-3 proteinCard" *ngFor="let persona of equipo">
        <img [src]="persona.imagen" [alt]="persona.nombre">
        <h3>{{ persona.nombre }}</h3>
        <p>{{ persona.cargo }}</p>
        <a [href]="persona.linkedin" target="_blank" *ngIf="persona.linkedin" ><i class="fa fa-2x fa-linkedin-square"></i></a>
      </div>
    </div>
  </div>
</section>

<section id="infraestructura">
  <div class="secNaranjo">
    <div class="container separaSection">
      <div class="row">
        <div class="col-12">
          <h3> INFRAESTRUCTURA </h3>
          <p>ProteinLab cuenta con 2 laboratorios para el desarrollo de experimentación  (Diseño, Ingeniería Electrónica e Informática) y un Centro de Fabricación Digital con cuatro impresoras 3D, CNC láser, CNC router, plotter de corte, etc.</p>
          <br>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <img src="assets/img/equipo/Infra_01.jpg" width="100%" alt="">
        </div>
        <div class="col-6">
          <img src="assets/img/equipo/Infra_02.jpg" width="100%" alt="">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6">
          <img src="assets/img/equipo/Infra_03.jpg" width="100%" alt="">
        </div>
        <div class="col-6">
          <img src="assets/img/equipo/Infra_04.jpg" width="100%" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
