#equipo img {
    width: 100%;
    color: rgba(0, 0, 0, 0.5);
}

#equipo a {
    color: grey;
}

#equipo a:hover {
    color: rgb(224, 103, 75);
}

.bg-opacity {
    background-color: rgba(255, 255, 255, 0.7);
}

.opacity:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.proteinCard {
    margin-bottom: 20px;
}

.secBlanco {
    background-color: white;
    color: rgb(119, 119, 119);
    text-align: center;
}

.secNaranjo {
    background-color: rgb(224, 103, 75);
    color: white;
    text-align: center;
    padding-bottom: 40px;
}

.team h3 {
    padding-bottom: 5px;
    padding-top: 20px;
    margin-bottom: 0px;
}

.team p {
    padding-top: 0px;
    margin-bottom: 0px;
}

.separaSection {
    padding-top: 60px;
    padding-bottom: 60px;
}

.destacar {
    padding-top: 20px;
    background-color: rgba(250, 250, 250, 0.8);
    color: rgb(224, 103, 75);
}

.destacar:hover {
    background-color: rgb(224, 103, 75);
    color: white
}