<div class="container bg-light">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header text-capitalize" style="padding-top:15px;">ProteinLab - {{ proyecto.contenido.nombre | lowercase }} <small>( {{ proyecto.contenido.periodo}} )</small></h1>
          <hr>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
              <li class="breadcrumb-item"><a [routerLink]="['/proyectos']">Proyectos</a></li>
              <li class="breadcrumb-item active" aria-current="proyecto"> {{ proyecto.portada.nombre }}</li>
            </ol>
          </nav>
      </div>
  </div>
  <br>
  <section id="about">
      <div class="row">
          <div class="col-md-6 align-self-center">
              <img class="img-fluid" [src]="proyecto.imagenes.grupal" [alt]="proyecto.portada.nombre">
          </div>
          <div class="col-md-6">
              <br>
              <p class="text-justify" style="font-size:14px;" *ngFor="let parrafo of proyecto.contenido.descripcion; let i = index">
                {{ parrafo }}
                <br>
              </p>
              <a [href]="proyecto.link" *ngIf="proyecto.contenido.link" target="_blank"><button class="btn btn-dark btn-block" type="button">Conoce más</button></a>
          </div>
      </div>
      <br>
      <hr>
  </section>

  <section id="gallery" *ngIf="proyecto.imagenes">
      <div class="row">
          <div class="col-lg-12">
              <h2 class="page-header text-center">Galeria de imagenes del proyecto</h2>
          </div>
      </div>
      <div class="row">
        <div class="col-6 col-sm-6 col-md-4 mx-auto" *ngIf="proyecto.imagenes.img1">
          <img class="img-fluid" [src]="proyecto.imagenes.img1" [alt]="proyecto.portada.nombre">
        </div>
        <div class="col-6 col-sm-6 col-md-4 mx-auto" *ngIf="proyecto.imagenes.img2">
            <img class="img-fluid" [src]="proyecto.imagenes.img2" [alt]="proyecto.portada.nombre">
        </div>
        <div class="col-6 col-sm-6 col-md-4 mx-auto" *ngIf="proyecto.imagenes.img3">
            <img class="img-fluid" [src]="proyecto.imagenes.img3" [alt]="proyecto.portada.nombre">
        </div>
      </div>
      <br>
      <hr>
  </section>

  <section id="partners" *ngIf="proyecto.partner">
      <div class="row">
          <div class="col-lg-5 mx-auto">
              <div class="text-center">
                  <img width="180" [src]="proyecto.partner.img" [alt]="proyecto.partner.nombre">
              </div>
          </div>
          <div class="col-lg-7 text-center mx-auto">
            <h2 class="page-header">{{ proyecto.partner.nombre }}</h2>
            <p class="text-justify font-italic">{{ proyecto.partner.descripcion }}</p>
          </div>
      </div>
      <br>
  </section>
</div>
