<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Vinculacion con el medio</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <button type="button" class="btn bnt-block btn-success" (click)="verProyectos('vinculacion')"> Ver proyectos </button>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Proyectos propios</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <button type="button" class="btn bnt-block btn-success" (click)="verProyectos('propios')"> Ver proyectos </button>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Apoyo emprendedores</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <button type="button" class="btn bnt-block btn-success" (click)="verProyectos('apoyo')"> Ver proyectos </button>
    </div>
  </div>
</div>
