.navbarProteinlab{
  background-color: rgba(250,250,250,0.8);
  font-family: 'Raleway', sans-serif !important;
  color: gray;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbarProteinlab a{
  color: rgb(224, 103, 75);
}

.navbarProteinlab a:hover{
  color: white;
  background-color: rgb(224, 103, 75);
}
