  <nav class="navbar navbar-expand-md fixed-top navbarProteinlab">
    <div class="container">
      <a class="navbar-brand d-none d-sm-block" [routerLink]="['/home']">
        <img src="assets/img/LOGO_PROTEINLAB.svg" alt="Proteinlab" height="50px" class="d-inline-block align-center">
      </a>
      <a class="navbar-brand d-block d-sm-none" [routerLink]="['/home']">
        <img src="assets/img/LOGO_PROTEINLAB.svg" alt="Proteinlab" height="30px" class="d-inline-block align-center">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="nav nav-pills">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/home']">INICIO</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/proyectos']">PROYECTOS</a>
          </li>
        </ul>
      </div>
    </div>

  </nav>
