#navegacion li{
  list-style-type: none;
}

#navegacion a{
  font-size: 18px;
  text-decoration: none;
  color: grey;
  font-weight: lighter;
}

#logo{
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}

#logo a{
  color: grey;
  font-weight: lighter;
  text-decoration:none;
}

#rrss{
  text-align: center;
  color: grey;
  font-weight: lighter;
}

#rrss a{
  color: grey;
}
