.footer{
  background-color: rgb(245,245,245);
  font-family: 'Roboto', sans-serif !important;
  text-align: center;
  color: grey;
  font-weight: lighter;
  padding-top: 30px;
  padding-bottom: 20px;
}

#logo a{
  color: grey;
  font-weight: lighter;
  text-decoration:none;
}

#rrss a{
  color: grey;
  font-weight: lighter;
  text-decoration:none;
}

#rrss i:hover{
  background-color: rgb(224, 103, 75);
  color: white;
}
