<footer class="footer">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12" id="logo">
      <!-- Direccion y contacto -->
        <address>
          <a href="https://goo.gl/maps/fwvXELgxbxp" target="_blank"><i class="fa fa-map-marker" aria-hidden="true"></i> Dieciocho 414, Santiago.</a>
          <br>
          Región Metropolitana.
          <br>
        </address>
        <address>
          <a href="mailto:proteinlab@proteinlab.cl"><i class="fa fa-envelope" aria-hidden="true"></i> Correo: proteinlab@proteinlab.cl </a>
          <br>
          <a href="tel:+56227877347"><i class="fa fa-phone" aria-hidden="true"></i> Teléfono: +56 2 2787 7347</a>
        </address>

      </div>
      <div class="col-12" id="rrss">
        <!-- RRSS -->
        <a href="https://www.facebook.com/proteinlab" target="_blank"><i class="fa fa-2x fa-facebook-official" style="padding:10px;"></i></a>
        <a href="https://www.instagram.com/proteinlabchile/" target="_blank"><i class="fa fa-2x fa-instagram" style="padding:10px;"></i></a>
        <a href="https://www.youtube.com/channel/UCzail_XmzV92jTMOkAA2zcw" target="_blank"><i class="fa fa-2x fa-youtube" style="padding:10px;"></i></a>
      </div>
    </div>
  </div>
</footer>
