<footer class="footer bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <img class="img-fluid w-50" src="assets/img/logoProteinlab.jpg" alt="logoProteinlab">
      </div>
      <div class="col-6">
        <h1 class="text-center">Proteinlab</h1>
        <hr>
        <br>
        <div class="text-center">
          <a href="https://www.facebook.com/proteinlab" target="_blank"><i class="fa fa-2x fa-facebook-official" style="color:white;"></i></a>
          <a href="https://www.instagram.com/proteinlabchile/" target="_blank"><i class="fa fa-2x fa-instagram" style="color:white;"></i></a>
          <a href="https://www.youtube.com/channel/UCzail_XmzV92jTMOkAA2zcw" target="_blank"><i class="fa fa-2x fa-youtube" style="color:white;"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
